# Main ignore
*.js
!jest.config.js
*.d.ts
node_modules

# Lambda functions are js
!/src/**/*.js

# CDK asset staging directory
.cdk.staging
cdk.out
template.yaml

# Do not update the config files
/presence.json
presencedemo/src/api-config.js


# Parcel default cache directory
.parcel-cache
