# Main ignore
*.js
!jest.config.js
*.d.ts
node_modules
.DS_Store

# Keep js files for lambda and demo
!/src/**/*.js
!/presencedemo/**/*.js

# CDK asset staging directory
.cdk.staging
cdk.out
template.yaml

# Do not update the config files
/presence.json
/presencedemo/src/api-config.js

# Parcel default cache directory
.parcel-cache
